#header{
	margin-top: 5px;
	padding: 5px;
	background-color: #ed7233;
	color: white;
}
#header > p{
	margin-bottom: 0px;
}
.container{
	width: 375px;
}
.results > .results-index{
	color: #888;
	margin-right: 5px;
}
.icon{
	width: 18px;
  margin-right: 2px;
}
#loading-content {
	color: white;
  text-align: center;
  padding: 30px;
   position: fixed; 
  top: 30%;
  margin: 40px 0px;
  width: 345px;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  border-radius: 2px;
  box-shadow: 1px 1px 4px lightgray;
}
#loading-content > #loading-icon {
	display: inline-block;
	text-align: left;
	width: 95px;
	height: 95px;
	background-color: transparent;
	background-repeat: no-repeat;
}
footer{
	margin: 10px 0px;
}
