#header{
	margin-top: 5px;
	padding: 5px;
	background-color: #ed7233;
	color: white;
}
#header > p{
	margin-bottom: 0px;
}
.container{
	width: 375px;
}
#content{
    min-height: 530px;
}
.results > .results-index{
	color: #888;
	margin-right: 5px;
}
.icon{
	width: 18px;
  margin-right: 2px;
}
#loading-content {
	color: white;
  text-align: center;
  padding: 30px;
   position: fixed;
  top: 30%;
  margin: 40px 0px;
  width: 345px;
  background-color: rgba(0,0,0, 0.5);
  z-index: 1;
  border-radius: 2px;
  box-shadow: 1px 1px 4px lightgray;
}
#loading-content > #loading-icon {
	display: inline-block;
	text-align: left;
	width: 95px;
	height: 95px;
	background-color: transparent;
	background-repeat: no-repeat;
}
.animate-repeat {
    -webkit-transition: .7s ease-out all;
    transition: .7s ease-out all;

}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
 {
    -webkit-transition:all ease-out 0.1s;
    transition:all ease-out 0.1s;
}
.animate-repeat.ng-leave
{
	-webkit-transition:all ease-out 0.1s;
    transition:all ease-out 0.1s;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    opacity:0;
}
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    opacity:1;

}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move.ng-move-active{
    opacity:0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active{
    opacity:1;
}
.animate-repeat.ng-leave-stagger {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}
.animate-repeat.ng-enter-stagger {
    -webkit-transition-delay: 0.07s;
    transition-delay: 0.07s;

    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}
footer{
	margin: 10px 0px;
}
